	.cl_mdl_caption {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
    font-weight:bold;
    display:block;
    float:left;
    width:600px;
	height:auto;
	margin: 10px 0 0 5px;
    color:#003366;
	clear:both;
	}

	.cl_mdl_descr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
    display:block;
    float:left;
    width:600px;
	height:auto;
	margin: 5px 0 0 0;
    padding:0 5px 20px 5px;
    color:#000000;
	clear:both;
	}
    
    .cl_status{
    display:none;
    }
    
    .info_module{
    display:none;
    }
    
    #id_box_main{
    display:block;
    float:left;
    width:800px;
    height:auto;
    margin:0 0 0 10px;
    padding:0;
    border:#cccccc solid 1px;
    }

    #id_box_header{
    display:block;
    float:left;
    width:800px;
    height:30px;
    background:url(img/line.png) repeat-x left center;
    border-bottom:#dbd4d4 solid 1px;
    }
    
    #id_box_body{
    display:block;
    float:left;
    width:800px;
    height:500px;
    overflow:hidden;
    background:#ffffff;
    }
    
    #id_box_footer{
    display:block;
    float:left;
    width:800px;
    height:30px;
    background:url(img/line.png) repeat-x left center;
    border-top:#dbd4d4 solid 1px;
    }
    
    #id_box_header_center{
    font-family:Verdana,Sans-serif,Times New Roman;
    font-size:14px;
    color:#666666;
    display:block;
    width:500px;
    line-height:30px;
    text-align:center;
    }

    
    .cl_link{
    display:block;
    width:140px;
    height:30px;
    cursor:pointer;
    border:none;
    outline:none;
    }
  
    #id_link_build{
    float:left;
    margin-left:10px;
    background:url(img/build.png) no-repeat left center;
    }

    #id_link_delete{
    float:right;
    margin-right:10px;
    background:url(img/delete.png) no-repeat right center;
    }

    #id_link_settings{
    float:right;
    margin-right:10px;
    background:url(img/settings.png) no-repeat right center;
    }

    #id_link_packets{
    float:left;
    margin-left:10px;
    background:url(img/packets.png) no-repeat left center;
    }


    .cl_part{
    display:block;
    float:left;
    }

    .cl_part_line{
    display:block;
    float:left;
    padding:0;
    margin:0;
    width:800px;
    height:auto;
    background:#ffffff;
    border-top:#ffffff solid 1px;
    border-bottom:#dedede solid 1px;
    }
    
    .cl_part_caption{
    font-family:Verdana, sans-serif,Times New Roman;
    font-size:14px;
    color:#003366;
    display:block;
    float:left;
    height:auto;
    width:740px;
    padding:10px 0 10px 20px;
    text-decoration:none;
    text-align:left;
    }

    .cl_part_event{
    display:block;
    float:left;
    height:38px;
    width:40px;
    }


    .cl_info_line{
    display:block;
    float:left;
    padding:0;
    margin:0;
    width:800px;
    height:auto;
    padding:6px 0 6px 0;
    background:#ffffff;
    border-top:#ffffff solid 1px;
    border-bottom:#ececec solid 1px;
    }
    
    .cl_info_caption{
    font-family:Verdana, sans-serif,Times New Roman;
    font-size:12px;
    color:#333333;
    display:block;
    float:left;
    height:auto;
    width:180px;
    padding:0 0 0 20px;
    text-decoration:none;
    text-align:left;
    }

    .cl_info_value{
    font-family:Verdana, sans-serif,Times New Roman;
    font-size:14px;
    color:#000000;
    display:block;
    float:left;
    height:auto;
    width:580px;
    padding:0 0 0 20px;
    text-decoration:none;
    text-align:left;
    }
    



    .cl_opt_line{
    display:block;
    float:left;
    height:auto;
    padding:0;
    margin:0;
    padding:5px 0 5px 0;
    background:#eaedef;
    border-top:#f7f7f7 solid 1px;
    border-bottom:#dedede solid 1px;
    }
    
    .cl_opt_caption{
    font-family:Verdana, sans-serif,Times New Roman;
    font-size:14px;
    color:#000000;
    display:block;
    float:left;
    height:auto;
    width:280px;
    padding:4px 0 0 20px;
    text-decoration:none;
    text-align:left;
    }
    
    .cl_opt_input{
    display:block;
    float:left;
    height:auto;
    width:480px;
    padding:0 0 0 20px;
    }
    
    .cl_opt_input input{
    font-family:Verdana, sans-serif,Times New Roman;
    font-size:16px;
    width:440px;
    color:#000000;
    }




    #id_btn_download{
    display:block;
    width:140px;
    height:30px;
    cursor:pointer;
    border:none;
    outline:none;
    float:left;
    background:url(img/download.png) no-repeat left center;
    }

    
