
	html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	padding:5px;
	margin:0;
	}

	a:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#006699;
	text-decoration:underline;
	outline:none;
	}

    
	a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#006699;
	text-decoration:underline;
	outline:none;
    	}

	a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#990000;
	text-decoration:underline;
	outline:none;
	}

	a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#006699;
	text-decoration:underline;
	outline:none;
	}

	div{
	margin:0;
	padding:0;
	}
	
	p{
	margin:0;
	padding:0;
	}

	
